<li>
	{{name}}

	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR ME!
	</button>
	{{/if}}
	{{!-- <button class="delete-cat" data-id="{{id}}"> 
		Delete
	</button> --}}
</li>